# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Node
node_modules/
.next/
dist/
*.log
.env.local
/backend/config/.env.local
/frontend/.env.local
/staff/.env.local
*.tsbuildinfo
/media/
/staticfiles/
