__pycache__/
.env
.env.local
.next/
.venv/
*.egg-info/
*.log
*.py[cod]
*.tsbuildinfo
/backend/config/.env.local
/backend/settings/local_settings.py
/frontend/.env.local
/media/
/staff/.env.local
/staticfiles/
dist/
node_modules/
